.modal {
    position: absolute;
    top: 30vh;
    left: 30vw;
    right: 30vw;
    bottom: 30vh;
    background-color: #0f2612;
    display: flex !important;
    flex-direction: column;
    text-align: center;
    align-self: center;
    align-content: center !important;
    border: 3px gold solid;
    padding-inline: 5em;
  }
  .modal label {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .modal select {
    margin-bottom: 1.5em;
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }

@media screen and (max-width: 768px) {
  .modal {
    padding-inline: 1em;
    right: 10vw;
    left: 10vw;
    top: 20vh;
  }
  .modal h3 {
    padding-top: 3vh;
  }
}
  @media screen and (max-height: 680px) {
    .modal {
      top: 15vh;
      bottom: 5vh;
    }    
  }