.items {
  overflow: hidden;
}

.items > span {
  position: relative;
  overflow: hidden;
}

.items__value {
  display: inline-block;
}

.first-enter,
.second-enter,
.third-enter {
  background: transparent;
  transform: translateY(100%);
}

.first-enter-active,
.second-enter-active,
.third-enter-active {
  transform: translateY(0);
}

.first-exit,
.second-exit,
.third-exit {
  transform: translateY(0);
  position: absolute;
  left: 0;
}

.first-exit-active,
.second-exit-active,
.third-exit-active {
  transform: translateY(-100%);
}

.first-enter-active,
.first-exit-active {
  transition: all 1000ms;
}

.second-enter-active,
.second-exit-active {
  transition: all 2000ms;
}

.third-enter-active,
.third-exit-active {
  transition: all 3000ms;
}